<div id="<%= dom_id perishable %>">
  <p>
    <strong>Name:</strong>
    <%= perishable.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= perishable.start_date %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= perishable.expiration_date %>
  </p>

  <p>
    <strong>Days to expiration:</strong>
    <%= perishable.days_to_expiration %>
  </p>

</div>
